#TitleKey=标题,目标URL,头像URL(null为不显示),按钮配色(使用bootstarp的配色表)
#标题可以填 XXXXX 以不显示
BiliBili=哔哩哔哩,https://space.bilibili.com/35515339,https://www.bilibili.com/favicon.ico,primary
Github=GayHub,https://github.com/ChinaYuanGe,/img/etc/github.svg,secondary
Email=Email,mailto:chinayuange@outlook.com,/img/element/email.svg,danger