#名称=简介,图片URL(null为不显示)
编程=代码控制计算机协助,/img/etc/coding.svg
渗透=工具维护安全的缓解,/img/etc/hacking.svg
设计=灵感创造美妙艺术品,/img/etc/design.svg
电路=电线构建电子小城市,/img/etc/circuit.svg
音乐游戏=挑战自我的手指极限,/img/etc/Arcaea.png
FPS游戏=沉浸热血的对战时刻,/img/etc/csgo.jpg
丧尸游戏=在幻想世界开拓王国,/img/etc/stateofdecay2.png
沙盒=在虚拟世界搭建梦想,/img/etc/minecraft.webp