#标题=目标URL,头像URL(null为不显示),按钮配色(使用bootstarp的配色表)
阅览文章=/articals,/img/element/watched.svg,success
BiliBili=https://space.bilibili.com/35515339,https://www.bilibili.com/favicon.ico,primary
Github=https://github.com/ChinaYuanGe,/img/etc/github.svg,secondary
Email=mailto:chinayuange@outlook.com,/img/element/email.svg,danger